# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Reza\Douglas\CSIS 3275\Resources\Instructor - Java Sample Files\Battleship-master\Battelship\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
